html{
    padding-bottom: 40px;
}

.navbar-brand, .shad{
    font-family: Parisienne, cursive; 
    color:white;
    text-shadow: 2px 2px 2px black;
}

h3{
text-shadow: 2px 2px 2px black;
    
}

li a{
    color:white;
    text-shadow: 2px 2px 2px black;
}

li a:hover{
    color:red;
}

.content{
    text-align:center;
}

#desc{
    text-align:justify;
}

.btn.outline{
 background:none;   
 color:black;
 border:1px solid lightgray;
 font-size:14px;
}

.btn:hover{
 background:lightblue;   
}


.content img{
    width:100px;
    height:100px;

}

.content{
        padding:0 1em 1em 0; 
    margin-bottom: 1.52em ;
}

.nav > li > a{
        font-size: 18pt;
            padding:15px;
}

.nav > li{
    padding-top:30px;
}

.carousel{
    margin-bottom:45px;
    height:650px;

}

.navbar-wrapper{
        position: absolute;
}

#carousel{
    position:relative;
    top:0;
}

.carousel .item {
  height: 650px;
}

.carousel-inner > .item > img{
    position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  max-height:300% !important;
  max-width:300% !important;
  width: 100% !important;
  height:100% !important;

}