body{
    margin:0 30px 0 30px;
}

.fontsi{
        font-family:'Cuprum', sans-serif;
}

#upnav{
    position:inline;
    float:right;
}

#wrknav > li >a{
    text-shadow: 2px 2px 3px black;
}

#upnav a{
    color:white;
}

#title{
    font-family: Parisienne, cursive; 
}

nav p{
    padding:10px 6px 3px;
    color: gray;
}

nav p a{
    color: white;
}

#about{
    background-image:url("art-images/paintings/large/13030.jpg");
    border-radius: 7px;
    color: white;
    text-shadow:2px 2px 2px black;
}

.btn{
    text-shadow:none;
}

#title{
    margin:0;
}

.row{
    margin-bottom:15px;
}

.price{
    font-weight:bold;
    color:red;
}

.li{
    margin-left:-100px;
}

.lo{
    margin-right:-100px;
}

.carousel-control.left, .carousel-control.right{
    background-image:none !important;
    /*opacity: 1.75;*/
    color:black !important;
}

.arts{
        height:650px;
}

.li:hover, .lo:hover{
    color:black !important;
}

.artist > .thumbnail > img{
    width:100%;    
    height:175px;
    max-width:100%;
}

.caption > p{
    font-size:1.2em;
}

.col-md-2.artist{
    padding:1px;
}